{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/forgot.css'%}">
    <link rel="stylesheet" href="{%static 'media/forgotMedia.css'%}">
    <link rel="icon" href="{% static 'images/new_logo.png'%}">
    <title>Forgot</title>
</head>
<body>
    <div class="container">
        <form id="loginForm" method="post">
            {% csrf_token %}
            <div class="center">
                <h1>Momentify</h1>
            </div>
            <div class="border">
                <input id="int1" placeholder="number" type="text" name="number" required>
                <div class="checked">
                    <input id="int2" placeholder="email" type="text" name="email" required>
                    <img id="toggle" src="{% static 'images/eye2.png' %}" alt="eye">
                </div>
                <button type="submit" id="btn"><a href="{% url 'blog:login' %}">Log in</a></button>
                </div>
            </div>
        </form>

    </div>




    <script src="{% static 'js/forgot.js'%}?v=2"></script>
</body>
</html>