{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/new_logo.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'media/styleMedia.css' %}">

    <title>Momentify</title>
</head>

<body>
    <div class="container">
        <form id="loginForm" method="post" action="{% url 'blog:login' %}">
            {% csrf_token %}
            <div class="center">
                <h1>BookCoin</h1>
            </div>
            <div class="border">
                <input id="int1" placeholder="username" autocomplete="new username" type="text" name="username" required>
                <div class="checked">
                    <input id="int2" placeholder="password" autocomplete="new password" type="password" name="password" required>
                    <img id="toggle" src="{% static 'images/eye2.png' %}" alt="eye">
                </div>
                <button type="submit" id="btn">Log in</button>
                <div class="Sign"><a href="{% url 'blog:signup' %}">Sign up</a>
                </div>
            </div>
            <img style="width: 30px; height: 30px;" src="{% static 'images/new_logo.png'%}" alt="">
            <button class="Forgot"><a href="{% url 'blog:forgot'%}">Forgot password?</a></button>
            <p class="paragraf">By signing up, you agree to BookCoin's Privacy Policy and Terms of Use. © 2025
                BookCoin. All rights reserved.
            </p>
        </form>

    </div>
    <script src="{% static 'js/index.js' %}?v=2"></script>
</body>

</html>