@media (max-width: 767px) {
    body {
        margin-top: 20px;
        background-color: black;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
    }
    
    .container {
        width: 350px;
        height: 550px;
        border: 1px solid gray;
        border-radius: 10px;
        color: white;
        margin: 0 auto;
        padding: 10px 15px;
        background: url("../images/fon2.png") no-repeat center center / cover;
        margin-top: 40px;
    }
    
    .container {
        animation-name: container-anim;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    
    }
    
    @keyframes container-anim {
        0% {
            transform: scale(0);
        }
    
        50% {
            transform: scale(0.5);
        }
    
        100% {
            transform: scale(1);
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    .container .text {
        text-align: center;
        margin-top: 30px;
    }
    
    .container .text h1 {
        font-size: 40px;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        text-align: center;
    }
    
    .container .border1 {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 320px;
        margin: 0 auto;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: rgba(75, 75, 75, 0.693);
        padding: 20px 10px;
        margin-top: 50px;
    }
    
    .container .border1 input {
        width: 280px;
        height: 30px;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 16px;
        padding-left: 15px;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        color: black;
    }
    
    .container form .border1 .checked {
        display: flex;
        position: relative;
    }
    
    .container form .border1 .checked #input1 {
        width: 300px;
        height: 30px;
        font-size: 16px;
    }
    
    .container form .border1 .checked img {
        position: absolute;
        margin-left: 240px;
        width: 25px;
        height: 25px;
        margin-top: 23px;
    }
    
    .container form .border1 #btn1 {
        width: 280px;
        height: 35px;
        margin: 0 auto;
        font-size: 20px;
        color: white;
        background-color: blue;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        transition: color 0.8s;
        transition: background-color 0.8s;
        cursor: pointer;
        margin-top: 50px;
    }
    .container form .border1 button a{
        color: white;
    }
    
    .container form .border1 button:hover {
        background-color: white;
        cursor: pointer;
    }
    .container form .border1 button:hover a{
        color: blue;
    }
    .container .paragraf {
        width: 300px;
        font-size: 11px;
        text-align: center;
        margin: 0 auto;
        font-family: "Funnel Sans", sans-serif;
        margin-top: 50px;
    }

}



@media (max-width: 546px) {
   
    body {
        margin-top: 20px;
        background-color: black;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
    }
    
    .container {
        width: 350px;
        height: 550px;
        border: 1px solid gray;
        border-radius: 10px;
        color: white;
        margin: 0 auto;
        padding: 10px 15px;
        background: url("../images/fon2.png") no-repeat center center / cover;
        margin-top: 40px;
    }
    
    .container {
        animation-name: container-anim;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    
    }
    
    @keyframes container-anim {
        0% {
            transform: scale(0);
        }
    
        50% {
            transform: scale(0.5);
        }
    
        100% {
            transform: scale(1);
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    .container .text {
        text-align: center;
        margin-top: 30px;
    }
    
    .container .text h1 {
        font-size: 35px;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        text-align: center;
    }
    
    .container .border1 {
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 320px;
        margin: 0 auto;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: rgba(75, 75, 75, 0.693);
        padding: 20px 10px;
        margin-top: 50px;
    }
    
    .container .border1 input {
        width: 250px;
        height: 30px;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding-left: 15px;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        color: black;
    }
    
    .container form .border1 .checked {
        display: flex;
        position: relative;
    }
    
    .container form .border1 .checked #input1 {
        width: 250px;
        height: 30px;
        font-size: 16px;
    }
    
    .container form .border1 .checked img {
        position: absolute;
        margin-left: 220px;
        width: 25px;
        height: 25px;
        margin-top: 23px;
    }
    
    .container form .border1 #btn1 {
        width: 250px;
        height: 30px;
        margin: 0 auto;
        font-size: 16px;
        color: white;
        background-color: blue;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        transition: color 0.8s;
        transition: background-color 0.8s;
        cursor: pointer;
        margin-top: 60px;
    }
    .container form .border1 button a{
        color: white;
    }
    
    .container form .border1 button:hover {
        background-color: white;
        cursor: pointer;
    }
    .container form .border1 button:hover a{
        color: blue;
    }
    .container .paragraf {
        width: 260px;
        font-size: 10px;
        text-align: center;
        margin: 0 auto;
        font-family: "Funnel Sans", sans-serif;
        margin-top: 50px;
    }

}

